body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
}

.wrapper div {
    padding: 1rem;
}

input {
    border-radius: 5px;
    border: 1px solid gray;
    height: 10px;
    padding: 10px;
    margin: 5px;
}

.title {
    text-align: center;
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    background-color: #008CBA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button.danger {
    background-color: #ba0000;
}

.button.danger:hover {
    background-color: #980202;
}

.button {
    width: 270px;
}

.button:hover {
    background-color: #017095;
}

.button.invalid {
    background-color: rgb(220, 220, 220);
    color: rgb(118, 117, 117);
}

.button.invalid:hover {
    cursor: not-allowed;
}

.small, .large, .total, .percent, .money {
    font-size: 1.4rem;
}

.small {
    color: purple;
}

.large {
    color: orange;
}

.total {
    color: red;
}

.percent {
    color: blue;
}

.money {
    color: green;
}

#pizzaOutput {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#output {
    margin-bottom: 0;
    margin-top: 2rem;
    padding-bottom: 0;
}

#output div {
    text-align: center;
}

#output .output-wrap:not(:last-child) {
    padding: 0;
    margin-bottom: 2rem;
}

#output .output-wrap .output-title h2 {
    padding: 0;
    margin: 0;
}

#output .output-wrap .output-title {
    padding: 0;
}


.pizza {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
    border-radius: 100%;
    background-image: url("pizza.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeIn ease 1000ms forwards;
}

@keyframes fadeIn {
    0% {
    opacity: 0;
    }

    100% {
    opacity: 1;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

#error {
    color: #ba0000;
    font-size: 20px;
    font-weight: bold;
}

div.input-wrap {
    padding-bottom: 0;
}

.inputs {
    display: flex;
}

.input-pizza {
    width: 200px;
}

.input-price {
    width: 70px;
}

.price-switch {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 335px;
}

.price-switch div {
    padding: 8px;
}

/* The switch - the box around the slider */

 .switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
 }
 /* Hide default HTML checkbox */

 .switch input {
     display: none;
 }
 /* The slider */

 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
 }
 .slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
 }
 input:checked + .slider {
     background-color: #008CBA;
 }
 input:focus + .slider {
     box-shadow: 0 0 1px #008CBA;
 }
 input:checked + .slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
 }
 /* Rounded sliders */

 .slider.round {
     border-radius: 34px;
 }
 .slider.round:before {
     border-radius: 50%;
 }