$background-color: beige;
$border-color: gray;
$primary-color: #ba0000;
$secondary-color-dark: #9e0101;
$light-green: #04AA6D;
$text-color: black;
$white: white;

// Buttons
$primary-button-color: #008CBA;
$reset-button-color: $primary-color;

// Output colors
$small: purple;
$large: orange;
$total: red;
$percent: blue;
$money: green;

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background-color;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;

    .pizza-banner {
        img {
            width: 100px;
        }
    }

    input {
        border-radius: 5px;
        border: 1px solid $border-color;
        height: 10px;
        padding: 10px;
        margin: 5px;
    }

    h1,
    h2 {
        color: $primary-color;
    }

    h2 {
        padding-bottom: 6px;
        border-bottom: 1px solid $border-color;
    }

    .title {
        text-align: center;
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-wrap {
            width: 100%;
            max-width: 320px;
            padding-bottom: 0;

            .inputs {
                display: flex;
                flex-direction: column;

                h2 {
                    padding-bottom: 6px;
                    margin-bottom: 6px;
                    border-bottom: 1px solid $border-color;
                    text-align: center;
                }

                .input-row {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    animation: fadeIn ease 1000ms forwards;
                }

                .input-pizza,
                .input-price,
                .input-slices {
                    width: 70px;
                }
            }

            @media only screen and (min-width: 768px) {
                max-width: 550px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .inputs {
                    width: 100%;

                    &:first-child {
                        padding-right: 1rem;
                    }

                    &:last-child {
                        padding-left: 1rem;
                    }
                }
            }
        }

        // Sliders
        .toggle-options {
            padding: 2rem 0;
            width: 100%;
            max-width: 320px;

            .price-switch {
                display: flex;
                justify-content: space-between;
                padding-top: 1rem;

                div {
                    padding: 8px 0;
                }

                .switch {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 34px;

                    .switch input {
                        display: none;
                    }

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        -webkit-transition: .4s;
                        transition: .4s;

                        &:before {
                            position: absolute;
                            content: "";
                            height: 26px;
                            width: 26px;
                            left: 4px;
                            bottom: 4px;
                            background-color: $white;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }
                    }

                    input {
                        &:checked+.slider {
                            background-color: $primary-button-color;
                        }

                        &:focus+.slider {
                            box-shadow: 0 0 1px $primary-button-color;
                        }

                        &:checked+.slider:before {
                            -webkit-transform: translateX(26px);
                            -ms-transform: translateX(26px);
                            transform: translateX(26px);
                        }
                    }

                    .slider {
                        &.round {
                            border-radius: 34px;

                            &:before {
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }

        input[type="button"], input[type="submit"] {
            width: 270px;
            border: none;
            color: $white;
            background-color: $primary-button-color;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
            height: 50px;

            &:hover {
                background-color: #017095;
            }

            &.invalid {
                background-color: rgb(220, 220, 220);
                color: rgb(118, 117, 117);

                &:hover {
                    cursor: not-allowed;
                }
            }

            &.danger {
                background-color: $reset-button-color;

                &:hover {
                    background-color: $secondary-color-dark;
                }
            }
        }
    }

    .small,
    .large,
    .total,
    .percent,
    .money {
        font-size: 1.4rem;
    }

    .small {
        color: $small;
    }

    .large {
        color: $large;
    }

    .total {
        color: $total;
    }

    .percent {
        color: $percent;
    }

    .money {
        color: $money;
    }

    #error {
        color: #ba0000;
        font-size: 20px;
        font-weight: bold;
    }

    .output-wrap {
        opacity: 0;
        background: $white;
        margin: 1rem;
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid $border-color;

        .output-title {
            padding: 0;
            margin-top: 0;

            h2 {
                margin-top: 0;
            }
        }

        .table {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .table-row {
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid $border-color;
                border-left: 1px solid $border-color;
                border-right: 1px solid $border-color;

                &:first-child {
                    border-top: 1px solid $border-color;
                    border-radius: 5px 5px 0 0;
                }

                &:last-child {
                    border-radius: 0 0 5px 5px;
                }

                .table-head,
                .table-data {
                    width: 100px;
                    padding: 6px;

                    &:not(:last-child) {
                        border-right: 1px solid $border-color;
                    }

                }

                .table-head {
                    background: $secondary-color-dark;
                    color: $white;

                    &:first-child {
                        border-radius: 5px 0 0 0;
                    }

                    &:last-child {
                        border-radius: 0 5px 0 0;
                    }
                }

                .table-data {
                    text-align: center;

                    &.best-deal {
                        background-color: $light-green;
                        color: $white;
                    }

                    &:first-child {
                        text-align: right;
                    }
                }
            }
        }

        .table-key {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-top: 6px;

            .green-key {
                background-color: $light-green;
                width: 10px;
                height: 10px;
                border-radius: 100px;
                border: 1px solid black;
                margin-right: 5px;
            }
        }

    }

    #pizzaOutput {
        padding-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .pizza {
            width: 100px;
            height: 100px;
            max-width: 100px;
            max-height: 100px;
            margin: 5px;
            border-radius: 100%;
            background-image: url("../pizza.png");
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
            animation: fadeIn ease 1000ms forwards;
            background-color: red !important;
        }
    }

    #output {
        margin-bottom: 0;
        margin-top: 2rem;
        padding-bottom: 0;
        max-width: 400px;
        text-align: center;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

// Dark Mode
$DM-background-color: rgb(40, 40, 40);
$DM-body-text: rgb(223, 223, 223);
$DM-table-background: rgb(20 20 20);
$DM-percent: rgb(18 186 255);
$DM-small: #ff2eff;
$DM-border-color: $white;

.dark-mode {
    background: $DM-background-color;
    color: $DM-body-text;

    .wrapper {
        h1 {
            text-shadow: 0 0 2px $white;
        }

        h2 {
            text-shadow: 0 0 1px $white;
        }

        .output-wrap {
            animation: fadeIn ease 1000ms forwards;
            background-color: $DM-table-background;

            .table-key {
                .green-key {
                    border: 1px solid $white;
                }
            }
        }

        .percent {
            color: $DM-percent;
        }

        .small {
            color: $DM-small;
        }
    }
}

// Theme Toggle
.toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;

    input[type="checkbox"] {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
    }

    label {
        position: relative;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }

    // moon
    label:before {
        content: '';
        width: 51px;
        height: 24px;
        position: relative;
        display: inline-block;
        border-radius: 20px;
        box-sizing: border-box;
        transition: 0.25s ease-in;
        background: #fff;
        border: 2px solid #DDD;
        box-shadow: inset -27px 0 0 #666;
    }

    label:after {
        content: '';
        width: 14px;
        height: 14px;
        position: absolute;
        left: 4px;
        top: 5px;
        border-radius: 50%;
        background: #FFF;
        box-shadow: inset -8px -5px #333;
        transition: 0.2s ease-in-out;
    }

    // Sun
    input[type="checkbox"]:checked+label:before {
        box-shadow: inset 25px 0 0 $white;
    }

    input[type="checkbox"]:checked+label:after {
        left: 30px;
        top: 4px;
        box-shadow: inset 0 0 0 2px #FFF;
        background: #ffbc00;
        border: 1px dashed #FFF;
    }
}